@{
    Page.Title = "Inicio";

    var db = Database.Open("bakery");
    var products = db.Query("SELECT * FROM PRODUCTS").ToList();
    var featured = products[new Random().Next(products.Count)];

     var db1 = Database.Open("bakery");
    var productos = db.Query("SELECT * FROM PRODUCTOS").ToList();
    var featured1 = productos[new Random().Next(productos.Count)];
}
<center><h1 >Bienvenido Banda Independiente Nacional San Juan De Dios La Peña</h1></center>

      <div id="featuredProduct" >            
          <!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
<li><img src="data1/images/img20131115wa0018.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_0"/></li>
<li><img src="data1/images/img20131115wa0021.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_1"/></li>
<li><img src="data1/images/img20131115wa0017.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_2"/></li>
<li><img src="data1/images/img20131115wa0008.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_3"/></li>
<li><img src="data1/images/img20131115wa0009.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_4"/></li>
<li><img src="data1/images/img20131115wa0010.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_5"/></li>
<li><img src="data1/images/img20131115wa0011.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_6"/></li>
<li><img src="data1/images/img20131115wa0012.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_7"/></li>
<li><img src="data1/images/img20131115wa0016.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_8"/></li>
<li><img src="data1/images/img20131115wa0022.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_9"/></li>
<li><img src="data1/images/img20131115wa0023.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_10"/></li>
<li><img src="data1/images/img20131115wa0014.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_11"/></li>
<li><img src="data1/images/img20131115wa0019.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_12"/></li>
<li><img src="data1/images/img20131112wa0003.jpg" alt="B.I.N.S.J.D." title="B.I.N.S.J.D." id="wows1_13"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0018.jpg" alt="B.I.N.S.J.D."/>1</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0021.jpg" alt="B.I.N.S.J.D."/>2</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0017.jpg" alt="B.I.N.S.J.D."/>3</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0008.jpg" alt="B.I.N.S.J.D."/>4</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0009.jpg" alt="B.I.N.S.J.D."/>5</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0010.jpg" alt="B.I.N.S.J.D."/>6</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0011.jpg" alt="B.I.N.S.J.D."/>7</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0012.jpg" alt="B.I.N.S.J.D."/>8</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0016.jpg" alt="B.I.N.S.J.D."/>9</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0022.jpg" alt="B.I.N.S.J.D."/>10</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0023.jpg" alt="B.I.N.S.J.D."/>11</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0014.jpg" alt="B.I.N.S.J.D."/>12</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131115wa0019.jpg" alt="B.I.N.S.J.D."/>13</a>
<a href="#" title="B.I.N.S.J.D."><img src="data1/tooltips/img20131112wa0003.jpg" alt="B.I.N.S.J.D."/>14</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">Responsive Slideshow</a> by WOWSlider.com v4.8</span>
	<a href="#" class="ws_frame"></a>
	</div>
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
          
          <!--  <img alt="Foto" class=first  src="~/Images/Products/" /> 
                <img alt="Producto ofrecido" src="~/Images/Products/@featured.ImageName"/>    -->
    </div>

<center>
    <div id="productsWrapper">
        <ul id="products" data-role="listview" data-inset="true">
            @foreach (var p in productos) {
               <li class="product">
                    <a href="~/order/@p.Id" title="Pedir @p.Name">
                        <img class="hide-from-desktop" src="~/Images/Products/Thumbnails/@p.ImageName" alt="Imagen de @p.Name" />
                                   
                        <div class="productInfo">
                            <h3>@p.Name</h3>
                      <img class="product-image hide-from-mobile" src="~/Images/Products/Thumbnails/@p.ImageName" alt="Imagen de @p.Name" />
                            <p class="description">@p.Description</p>                                   
                        </div>
                      </a>
                    <!-- Desktop only -->
                    <div class="action  hide-from-mobile">
                    <!--     <a class="order-button" href="~/order/@p.Id" title="Order @p.Name">Inscribete ahora</a> -->
                    </div>
        
                </li>
            }
        </ul>
    </div>
</center>

<center>
    <audio controls autoplay >
      <source src="campesino.ogg" type="audio/ogg" >
      <source src="campesino.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
</center>
 


